/* *{
    margin: 0;
    padding: 0;
} */

.bg-set{
    width: 100%;
 }
 
 .info-infras #para-infras{
     margin-left: 12%;
     margin-right: 12%;
     text-align: justify;
     padding: 20px;
     font-weight: 300;
     word-spacing: 2px;
     font-family: 'Poppins', sans-serif;;
 }
 
 